<div class="container">
<div class="jumbotron">
<h1>Welcome to the Recipe Book</h1>
</div>
</div>
<div class="container">
    <div class="col-xs-12">
        <h3>Here you can store you'r fevorite recipes.</h3>
        <h3>And share them with others.</h3>
        <hr>
        <h4>Instructions:</h4>
        <p>Register / Signin.</p>
        <p>Manage Data:</p>
        <p>Fetch data -> to get recipes from the DataBase</p>
        <p>Save data -> to save your change or newly add'd recipe to the DataBase</p>
        <p>go to the 'Recipes' tag to interact with the recipes</p>
        <p>then if you wanan try to make one of the recipes by your own:'</p>
        <p>click 'Manage Recipe' & 'Add to Shopping list</p>
        <p>then all the ingredients needed for that recipe will be add'd to your list</p>
        <p>then just simply go to the 'Shopping list' tab and view it</p>
        <h3>GOOD LUCK</h3>


    </div>
</div>


